<div class="headerTop">
    <div class="templateTitle">
        @Html.ActionLink("Project Title", "Index", "Home")
    </div>
    <div class="loginControl">
        @Html.Partial("LogOnPartialView")
    </div>
</div>
